!!! XHTML 5
%html{html_attrs}
  %head
    %title
      Yes, I registered this URL and bought a private server just to spite you. 
        
    %link{ rel: 'icon', type: 'image/png', href: asset_path('.png') }/
    %meta{ name: "keywords", content: "" }/
    %meta{ name: "viewport", content: "width=device-width, minimum-scale=1.0, maximum-scale=1.0" }/
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    / .nav
    /   %h1
    /     Much Bloge. Wow
    
    = yield
   